:root {
  --color-blue-dark: #1976d2;
  --color-blue-light: #42a5f5;

  --primary-color: var(--color-blue-dark);
  --surface-color: #1e2124;
  --on-surface-color: #ffffff;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  color: var(--color-blue-light);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-blue-light);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: var(--primary-color);
}
